TELEGRAM_TOKEN = "TOKEN"

RCON_HOST = "127.0.0.1"
RCON_PORT = 25575
RCON_PSWD = "PASSWORD"

BACKUP_TIME = "04:00:00+03:00"

SERVER_DIR = "./server"

# If ./server/world is folder it will be saved recursively
# Split paths with newlines
BACKUP_PATHS = "world"

