TELEGRAM_TOKEN = "TOKEN"

RCON_HOST = "127.0.0.1"
RCON_PORT = 25575
RCON_PSWD = "PASSWORD"

BACKUP_TIME = "04:00:00+03:00"
# Valid options DAILY, WEEKLY, MONTHLY
# WEEKLY makes backup every monday
# MONTHLY makes backup every 1st day of month
BACKUP_MODE = "WEEKLY"
CMDS_BEFORE_BACKUP = "save-off
save-all flush"
CMDS_AFTER_BACKUP = "save-on"

SERVER_DIR = "./server"

# If ./server/world is folder it will be saved recursively
# Split paths with newlines
BACKUP_PATHS = "world"

